## Zipf's Empirical Formulae

In [49]:
import re
from operator import itemgetter
import nltk
import pandas as pd

In [42]:
frequency = {}
words_emma = nltk.Text(nltk.corpus.gutenberg.words('austen-emma.txt'))

In [43]:
for word in words_emma:
    if word not in frequency:
        frequency[word] =  1
    else:
        frequency[word] += 1

In [44]:
from collections import Counter
freq = Counter(frequency)
freq.most_common(10)

[(',', 11454),
 ('.', 6928),
 ('to', 5183),
 ('the', 4844),
 ('and', 4672),
 ('of', 4279),
 ('I', 3178),
 ('a', 3004),
 ('was', 2385),
 ('her', 2381)]

In [45]:
col_name = ['Rank', 'Freq', 'Rank*Freq']
data = pd.DataFrame(columns = col_name)
data.head()

Empty DataFrame
Columns: [Rank, Freq, Rank*Freq]
Index: []

In [46]:
for  rank, (word, frq) in enumerate(freq.most_common(len(freq)), start = 1):
    data.loc[word] = [rank, frq, rank*frq]

In [47]:
print(data)

                 Rank   Freq Rank*Freq
,                   1  11454     11454
.                   2   6928     13856
to                  3   5183     15549
the                 4   4844     19376
and                 5   4672     23360
of                  6   4279     25674
I                   7   3178     22246
a                   8   3004     24032
was                 9   2385     21465
her                10   2381     23810
;                  11   2199     24189
it                 12   2128     25536
in                 13   2118     27534
not                14   2101     29414
"                  15   2004     30060
be                 16   1970     31520
she                17   1778     30226
that               18   1730     31140
you                19   1677     31863
had                20   1606     32120
as                 21   1387     29127
--                 22   1382     30404
he                 23   1365     31395
for                24   1321     31704
have               25   1301     32525
is                 26   1220     31720
with               27   1187     32049
Mr                 28   1153     32284
very               29   1151     33379
but                30   1148     34440
...               ...    ...       ...
nobility         7782      1      7782
liberally        7783      1      7783
created          7784      1      7784
gradual          7785      1      7785
impair           7786      1      7786
clergyman        7787      1      7787
altar            7788      1      7788
intermediate     7789      1      7789
seaside          7790      1      7790
sounded          7791      1      7791
hopeless         7792      1      7792
resignation      7793      1      7793
acquiesced       7794      1      7794
befriended       7795      1      7795
illumination     7796      1      7796
robbed           7797      1      7797
turkeys          7798      1      7798
Other            7799      1      7799
Pilfering        7800      1      7800
_housebreaking_  7801      1      7801
protected        7802      1      7802
weddings         7803      1      7803
detailed         7804      1      7804
satin            7805      1      7805
veils            7806      1      7806
stare            7807      1      7807
deficiencies     7808      1      7808
predictions      7809      1      7809
band             7810      1      7810
FINIS            7811      1      7811

[7811 rows x 3 columns]

# 2nd Method

In [48]:
import re
from operator import itemgetter
import nltk
import pandas as pd

In [50]:
frequency = {}
words_emma = nltk.Text(nltk.corpus.gutenberg.words('austen-emma.txt'))

In [51]:
for word in words_emma:
    count = frequency.get(word, 0)
    frequency[word] = count + 1

In [52]:
rank = 1
column_header = ['Rank', 'Frequency', 'Frequency*Rank']
df = pd.DataFrame(columns = column_header)

In [53]:
for word, freq in reversed(sorted(frequency.items(), key = itemgetter(1))):
    df.loc[word] = [rank, freq, rank * freq]
    rank += 1

In [54]:
print(df)

                Rank Frequency Frequency*Rank
,                  1     11454          11454
.                  2      6928          13856
to                 3      5183          15549
the                4      4844          19376
and                5      4672          23360
of                 6      4279          25674
I                  7      3178          22246
a                  8      3004          24032
was                9      2385          21465
her               10      2381          23810
;                 11      2199          24189
it                12      2128          25536
in                13      2118          27534
not               14      2101          29414
"                 15      2004          30060
be                16      1970          31520
she               17      1778          30226
that              18      1730          31140
you               19      1677          31863
had               20      1606          32120
as                21      1387          29127
--                22      1382          30404
he                23      1365          31395
for               24      1321          31704
have              25      1301          32525
is                26      1220          31720
with              27      1187          32049
Mr                28      1153          32284
very              29      1151          33379
but               30      1148          34440
...              ...       ...            ...
speck           7782         1           7782
Dirty           7783         1           7783
bangs           7784         1           7784
lock            7785         1           7785
needlework      7786         1           7786
curtseys        7787         1           7787
housemaid       7788         1           7788
chatted         7789         1           7789
Matrimony       7790         1           7790
awoke           7791         1           7791
lieu            7792         1           7792
equals          7793         1           7793
amounting       7794         1           7794
valetudinarian  7795         1           7795
tenderer        7796         1           7796
debt            7797         1           7797
mournful        7798         1           7798
Sorrow          7799         1           7799
misfortunes     7800         1           7800
disadvantages   7801         1           7801
esteeming       7802         1           7802
impose          7803         1           7803
mildness        7804         1           7804
nominal         7805         1           7805
caresses        7806         1           7806
indistinct      7807         1           7807
vex             7808         1           7808
]               7809         1           7809
1816            7810         1           7810
Austen          7811         1           7811

[7811 rows x 3 columns]

In [55]:
frequency['Austen']

1