## Comparing Zipf's Empirical Formulae and Mandelbrot's Approximation

In [1]:
import re
from operator import itemgetter
import nltk
import pandas as pd

In [2]:
frequency = {}
words_emma = nltk.Text(nltk.corpus.gutenberg.words('austen-emma.txt'))

In [3]:
for word in words_emma:
    if word not in frequency:
        frequency[word] =  1
    else:
        frequency[word] += 1

In [4]:
from collections import Counter
freq = Counter(frequency)
freq.most_common(10)

[(',', 11454),
 ('.', 6928),
 ('to', 5183),
 ('the', 4844),
 ('and', 4672),
 ('of', 4279),
 ('I', 3178),
 ('a', 3004),
 ('was', 2385),
 ('her', 2381)]

In [10]:
col_name = ['Rank', 'Freq', "Zipf's", "Mandelbrot's"]
data = pd.DataFrame(columns = col_name)
data.head()

Empty DataFrame
Columns: [Rank, Freq, Zipf's, Mandelbrot's]
Index: []

In [11]:
for  rank, (word, frq) in enumerate(freq.most_common(len(freq)), start = 1):
    data.loc[word] = [rank, frq, rank*frq, frq*(rank+2.7)]

In [12]:
print(data)

                   Rank     Freq   Zipf's  Mandelbrot's
,                   1.0  11454.0  11454.0       42379.8
.                   2.0   6928.0  13856.0       32561.6
to                  3.0   5183.0  15549.0       29543.1
the                 4.0   4844.0  19376.0       32454.8
and                 5.0   4672.0  23360.0       35974.4
of                  6.0   4279.0  25674.0       37227.3
I                   7.0   3178.0  22246.0       30826.6
a                   8.0   3004.0  24032.0       32142.8
was                 9.0   2385.0  21465.0       27904.5
her                10.0   2381.0  23810.0       30238.7
;                  11.0   2199.0  24189.0       30126.3
it                 12.0   2128.0  25536.0       31281.6
in                 13.0   2118.0  27534.0       33252.6
not                14.0   2101.0  29414.0       35086.7
"                  15.0   2004.0  30060.0       35470.8
be                 16.0   1970.0  31520.0       36839.0
she                17.0   1778.0  30226.0       35026.6
that               18.0   1730.0  31140.0       35811.0
you                19.0   1677.0  31863.0       36390.9
had                20.0   1606.0  32120.0       36456.2
as                 21.0   1387.0  29127.0       32871.9
--                 22.0   1382.0  30404.0       34135.4
he                 23.0   1365.0  31395.0       35080.5
for                24.0   1321.0  31704.0       35270.7
have               25.0   1301.0  32525.0       36037.7
is                 26.0   1220.0  31720.0       35014.0
with               27.0   1187.0  32049.0       35253.9
Mr                 28.0   1153.0  32284.0       35397.1
very               29.0   1151.0  33379.0       36486.7
but                30.0   1148.0  34440.0       37539.6
...                 ...      ...      ...           ...
nobility         7782.0      1.0   7782.0        7784.7
liberally        7783.0      1.0   7783.0        7785.7
created          7784.0      1.0   7784.0        7786.7
gradual          7785.0      1.0   7785.0        7787.7
impair           7786.0      1.0   7786.0        7788.7
clergyman        7787.0      1.0   7787.0        7789.7
altar            7788.0      1.0   7788.0        7790.7
intermediate     7789.0      1.0   7789.0        7791.7
seaside          7790.0      1.0   7790.0        7792.7
sounded          7791.0      1.0   7791.0        7793.7
hopeless         7792.0      1.0   7792.0        7794.7
resignation      7793.0      1.0   7793.0        7795.7
acquiesced       7794.0      1.0   7794.0        7796.7
befriended       7795.0      1.0   7795.0        7797.7
illumination     7796.0      1.0   7796.0        7798.7
robbed           7797.0      1.0   7797.0        7799.7
turkeys          7798.0      1.0   7798.0        7800.7
Other            7799.0      1.0   7799.0        7801.7
Pilfering        7800.0      1.0   7800.0        7802.7
_housebreaking_  7801.0      1.0   7801.0        7803.7
protected        7802.0      1.0   7802.0        7804.7
weddings         7803.0      1.0   7803.0        7805.7
detailed         7804.0      1.0   7804.0        7806.7
satin            7805.0      1.0   7805.0        7807.7
veils            7806.0      1.0   7806.0        7808.7
stare            7807.0      1.0   7807.0        7809.7
deficiencies     7808.0      1.0   7808.0        7810.7
predictions      7809.0      1.0   7809.0        7811.7
band             7810.0      1.0   7810.0        7812.7
FINIS            7811.0      1.0   7811.0        7813.7

[7811 rows x 4 columns]